.threeBounce {
  padding-top: 30px;
  display: flex;
  width: 65px;
  margin: auto;
  text-align: center;
  justify-content: space-between;
}

.child {
  width: 15px;
  height: 15px;
  background-color: teal;
  border-radius: 100%;
  display: inline-block;
  animation: three-bounce 1.4s ease-in-out 0s infinite both;
}

.bounce_1 {
  animation-delay: -0.32s;
}
.bounce_2 {
  animation-delay: -0.16s;
}


@keyframes three-bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
}