.wrap {
  width: 100%;
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
}

.wrapModal {
  display: flex;
  justify-content: space-evenly;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 0;
}

.infoName {
  font-size: 18px;
}
