.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 25px;
  background-color: lightgray;
}

.navbarContainer {
  display: flex;
  align-items: center;
  width: 800px;
  margin: 0 auto;
}

.navbarBtn {
  margin: 0;
}

.navbarItems {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 20px;
}

.navbarLinks {
  text-decoration: none;
  font-size: 18px;
  color: teal;
}
